---
---

@font-face {
    font-display: swap;
}

:root {
    --border-size: 10px;
    --image-width: 100%;
    --font-size: 0.7rem;
    --num-col: 1;
}

@media screen and (min-width: 450px) {
    :root {
        --image-width: 50%;
        --border-size: 15px;
        --font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    :root {
        --num-col: 2
    }
}

html {
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: "arial";
}

div.content {
    min-height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: {{ site.light_cream_colour }};
    border-style: solid;
    border-width: var(--border-size);
    border-color: {{ site.dark_cream_colour }};
    //margin-bottom: calc(4 * var(--border-size));
    video {
        max-width: calc(100% - 2 * var(--border-size));
        padding-top: var(--border-size);
    }
}

hr.divider {
    margin: 0;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: {{ site.light_cream_colour }};
    border: var(--border-size) solid {{ site.dark_cream_colour }};
    height: auto;
    div.logo {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: var(--image-width);
        }
    }
}
div.button-wrapper {
    position: absolute;
    left: var(--border-size);
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2 * var(--border-size));
    margin: auto;
}
div.about {
    flex-grow: 1;
    display: flex;
    position: relative;
    top: calc(-0.5 * var(--border-size));
    outline: 1px solid black;
    background-color: {{ site.yellow_colour }};
    transition: background-color 0.2s;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 2.5%;
    a {
        color: white;
        text-decoration: none;
        font-size: var(--font-size);
    }
}
div.about:hover {
    background-color: {{ site.light_yellow_colour }};
    transform: translateY(calc(-0.5 * var(--border-size)));
}
div.home {
    flex-grow: 2;
    display: flex;
    position: relative;
    top: calc(-0.5 * var(--border-size));
    outline: 1px solid black;
    background-color: {{ site.teal_colour }};
    transition: background-color 0.2s;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    a {
        color: white;
        text-decoration: none;
        font-size: var(--font-size);
    }
}
div.home:hover {
    background-color: {{ site.light_teal_colour }};
    transform: translateY(calc(-0.5 * var(--border-size)));
}
div.contact {
    flex-grow: 1;
    display: flex;
    position: relative;
    top: calc(-0.5 * var(--border-size));
    outline: 1px solid black;
    background-color: {{ site.yellow_colour }};
    transition: background-color 0.2s;
    transition: transform 0.2s;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 2.5%;
    a {
        color: white;
        text-decoration: none;
        font-size: var(--font-size);
    }
}
div.contact:hover {
    background-color: {{ site.light_yellow_colour }};
    transform: translateY(calc(-0.5 * var(--border-size)));
}

footer {
    //position: fixed;
    //bottom: 0;
    width: 100%
    }

footer ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    background-color: {{ site.light_cream_colour }};
    border-style: solid;
    border-width: var(--border-size);
    border-color: {{ site.dark_cream_colour }};
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: black;
}

div.cardparent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding-left: var(--border-size);
    padding-right: var(--border-size);

    div.card {
        padding-bottom: var(--border-size);
        display: flex;
        flex-wrap: wrap;
        max-width: calc(100% / var(--num-col));
        min-width: calc(100% / var(--num-col));
        width: calc(100% / var(--num-col));
        font-size: calc(8px + 1vw);
        div.cardtitle {
            min-width: 100%;
            text-align: left;
            padding-bottom: var(--border-size);
            h2 {
                margin: 0;
            }
        }
        video {
            max-width: calc(100% - 2 * var(--border-size));
            padding-top: 0;
            padding-left: var(--border-size);
            padding-right: var(--border-size);
        }
    }
}

video {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 1rem;
}
